.l-main > section {
    width:90%;
    margin: 2rem 5%;
    box-sizing: border-box;
}

.l-main > section > div{
    box-sizing: border-box;
    max-width: $small-width;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}