$main-color:#dd5555;
$bcg-color:#ebebeb;
$brd-color:#f4c9c9;
$font-color:#70707c;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$font-family-name:'Open Sans', sans-serif;
$doc-font-size:14px;

$xl-width:1400px;
$large-width: 1140px;
$small-width: 768px;
$medium-width: 900px;